*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #300317;
  font: 1em/1.5 "Roboto", sans-serif;
  height: 100%;
  color: #fff;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  position: relative;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
  display: block;
}

figure {
  margin: 1em 40px;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

h1 {
  color: #faa651;
  font-size: 24px;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}

.h-section {
  text-align: center;
  text-transform: uppercase;
}

.h-page {
  color: inherit;
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

img {
  width: inherit;
  /*IE8*/
  max-width: 100%;
  height: auto;
}

a {
  background-color: transparent;
  color: #000;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}

a:hover,
a:focus {
  border: 0;
  text-decoration: none;
}

.white-link {
  color: #fff;
  -webkit-tap-highlight-color: white;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

video {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}

video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

q {
  font-style: italic;
}

p,
li,
dd,
dt {
  font-size: 18px;
}

header {
  background-color: #8e3960;
  border-bottom: 4px solid #faa651;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo,
.reset-btn {
  display: inline;
}

.l-content {
  margin: 0 auto;
  width: 65%;
}

.l-group:before, .l-group:after {
  content: " ";
  display: table;
}

.l-group:after, .l-group:after {
  clear: both;
}

.group {
  margin: 0 auto;
  max-width: 300px;
}

.group:before, .group:after {
  content: " ";
  display: table;
}

.group:after, .group:after {
  clear: both;
}

@media only screen and (min-width: 375px) {
  .group {
    max-width: 320px;
  }
}

@media only screen and (min-width: 412px) {
  .group {
    max-width: 350px;
  }
}

@media only screen and (min-width: 600px) {
  .group {
    max-width: 450px;
  }
}

@media only screen and (min-width: 768px) {
  .group {
    max-width: 600px;
  }
}

@media only screen and (min-width: 960px) {
  .group {
    max-width: 850px;
  }
}

@media only screen and (min-width: 1024px) {
  .group {
    max-width: 900px;
  }
}

.btn {
  color: #8e3960;
  cursor: pointer;
  padding: 10px 20px;
}

.btn--principal {
  background-color: #fad777;
}

.btn--principal:hover {
  background-color: #faa651;
}

.scores {
  padding: 20px 0;
}

@media only screen and (min-width: 768px) {
  .scores p {
    font-size: 27px;
  }
}

@media only screen and (min-width: 1024px) {
  .scores p {
    font-size: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .scores p {
    font-size: 38px;
  }
}

.score__best {
  margin: 0;
}

.score__current {
  margin: 0;
}

.score__best:before {
  content: "Best Score:";
}

.score__current:before {
  content: "Current:";
}

.deck img {
  cursor: pointer;
  height: 24%;
  margin-top: 5px;
  width: 24%;
}

@media only screen and (min-width: 720px) {
  .deck img {
    width: 18%;
  }
}

@media only screen and (min-width: 1024px) {
  .deck img {
    width: 13%;
  }
}
