.deck {
	img {
		cursor: pointer;
		width: 24%;
		margin-bottom: 10px;

		@include query(720px) {
			width: 18%;		
		}

		@include query(1024px) {
			width: 13%;		
		}		
	}
}

.back-card {
	background: url("../img/c0-mobile.jpg") no-repeat center / cover;
	cursor: pointer;
	display: inline;
	margin: 5px;
	padding: 19px 0px;
}

.card--hidden {
	visibility: hidden;
}