//fonts
$font-family-base: 'Roboto', sans-serif;;
$font-family-contrast: 'Playfair Display', serif;

//colores
$color-base: #8e3960;
$color-contrast: #300317;
$color-accent: #faa651;
$color-cta: #fad777; // call to action



